<div class="flex justify-between items-center my-6">
    <h1>Les actualités</h1>
    <button class="bg-gray-200 rounded hover:shadow" routerLink="/actualites">Voir toutes les actualités</button>
</div>
<div class="flex text-center">
    <app-actualite-card
[titre]='"test"'
[contenu]='"Loreum ipsum dolor sit amet, consectetur adipiscing elit. balalalalalalalalalalllllllllllllllaaaa"'
[datePublication]="Date"></app-actualite-card>
</div>

@if(this.listeActualites){

    @for(actualite of this.listeActualites; track actualite.id_actualite){
        <app-actualite-card 
            [titre]="actualite.titre"
            [image_url]="actualite.image_url">
        </app-actualite-card>
    } 
}
@else {
    <p>Aucune actualité disponible pour le moment.</p>
}